<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <% include ../partials/head %>
</head>
<body>
<header>
        <% include ../partials/header %>
</header>
<div class="container">

    <form id="testIoForm">
        <button name="test">Test</button>
    </form>
	
    <div id="results">
    
    </div>
    
</div>
</body>
</html>